<div fxLayoutAlign="center center" fxFlexFill>
  <div fxFlex="25">
    <div fxLayout="column" class="card-header">
      <mat-card-title>Oops!</mat-card-title>
      <br>
      <mat-card-title>404 Not Found</mat-card-title>
      <br>
      <mat-card-subtitle>Sorry an error has occured, requested page not found!</mat-card-subtitle>
    </div>
    <br>
    <form fxLayoutAlign="stretch" fxLayout="column">
      <a routerLink="/" mat-raised-button color="primary" type="submit">Take Me Home</a>
      <div class="card-footer">
        <small><a routerLink="/"> Contact Support </a></small>
      </div>
    </form>
  </div>
</div>
