<mat-toolbar color="primary">
  <small><span>Copyright © 2021, All Right Reserved</span></small>
  <div class="spacer"></div>

  <a mat-button routerLinkActive="active" routerLink='./home'>Home</a>
  <a mat-button routerLinkActive="active" routerLink='#'>Terms</a>
  <a mat-button routerLinkActive="active" routerLink='#'>Privacy Policy</a>
  <a mat-button routerLinkActive="active" routerLink='#'>Contact</a>
  <button mat-raised-button type="submit" (click)="logout()">Logout</button>
</mat-toolbar>
