<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <div fxLayout="column" class="card-header">
      <mat-card-title>Forgot Password</mat-card-title>
      <br>
      <mat-card-subtitle>Please enter your registered email to get the password reset link</mat-card-subtitle>
    </div>
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>

      <a routerLink="/" mat-raised-button color="primary" type="submit">Reset Password Link</a>
      <div class="card-footer">
        <small><a routerLink="/"> Back to login </a></small>
      </div>
    </form>
  </mat-card>
</div>
